@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

@keyframes glitch {
  0% { transform: translate(0) }
  20% { transform: translate(-4px, 4px) }
  40% { transform: translate(-4px, -4px) }
  60% { transform: translate(4px, 4px) }
  80% { transform: translate(4px, -4px) }
  100% { transform: translate(0) }
}

.animate-glitch {
  animation: glitch 0.15s cubic-bezier(.36,.07,.19,.97) both;
}
